html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/*************Home Page CSS****************/

/*Header (Navbar)*/
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
  margin: 0;
}

li img {
  width: 20%;
  height: auto;
}

.li-items  {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 10px;
}

.li-items:hover {
  background-color: #f5f5dc; 
  border-radius: 0; 
}

/*Main-text part*/
.text {
  text-align: center;
  font-size: xx-large;
  margin-top: 10rem;
  max-width: 600px; 
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; 
}

.highlight {
  background-color: #f5f5dc; 
}

/*Images Part*/
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 50px;
  margin-top: 10rem;
}

.cards a {
  max-width: 500px;
}

.cards img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

.cards img:hover {
  opacity: 0.9;
}


/*Footer Part*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 400px;
  margin-top: 50px;
  padding: 20px; 
  border-top: 3px solid lightgray;
}

.footer-image img {
  width: 150px; 
  height: auto;
}

.social-icon {
  margin: 0 10px;
  font-size: 24px;
  color: black;
}

.social-icon:hover {
  color: #007BFF; 
}

.contact-us-text, .follow-us-text {
  font-weight: 700;
}

.contact-us-info {
  font-weight: 500;
  margin: 5px 0;
}

/*************About Page CSS****************/

/*Our services part*/
.our-services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  background-color: #252422;
}

.our-services {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: x-large;
  padding: 20px;
} 

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  max-width: 1200px;
  gap: 50px;
  padding-bottom: 50px;
}

.bottom-info h4{
  color: white;
}

.bottom-info p{
  color: white;
}

/*Our team part*/
.our-team-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.our-team-text{
  font-weight: 700;
  margin-bottom: 50px;
}

.our-team-bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  max-width: 1200px;
  gap: 50px;
  padding-bottom: 10px;
}

.our-team-box {
  max-width: 500px;
}

.our-team-box img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.our-team-box p{
  font-size: medium;
}

/*************Contact Page CSS****************/

/**Paragraph Part**/
.contact-text-container {
  background-color: #252422;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px; 
  padding-bottom: 100px; 
}

.contact-text {
  text-align: center;
  font-size: xx-large;
  max-width: 600px;
  padding: 0 20px;
}

.contact-paragraph {
  color: white;
  font-size: xx-large;
  font-weight: 600;
}

.contact-highlight {
  color: black;
  background-color: #f5f5dc; 
}

/*****************************************/

/**Form Part**/
.whole-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.have-a-question {
  text-align: center;
  font-size: medium;
  font-weight: 500;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
textarea {
  width: 100%; 
  padding: 10px; 
  border: none; 
  outline: none; 
  border-bottom: 2px solid #252422; 
  margin-top: 2rem; 
  font-size: 1rem; 
  box-sizing: border-box; 
}

textarea {
  height: 150px; 
  resize: none;
}

input[type="text"]:focus,
textarea:focus {
  border-bottom: 2px solid #48bfe3; 
}

textarea::placeholder,
input::placeholder {
  color: #999; 
  font-style: italic; 
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 2rem; 
  margin-bottom: 4rem;
  background-color: transparent; 
  color: #252422; 
  border: 2px solid #252422; 
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
  font-size: medium;
}

button:hover {
  background-color: #252422; 
  color: white; 
}

/*Responsive Design*/
@media screen and (max-width: 768px) {
  ul {
    flex-direction: column;
    gap: 20px;
  }

  li img {
    width: 40%;
  }

  .text {
    font-size: xx-large;
    margin-top: 5rem;
    max-width: 90%; 
  }

  .highlight {
    background-color: #f5f5dc; 
  }

  .cards {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    margin-top: 5rem;
  }

  .footer {
    flex-direction: column;
    gap: 20px;
  }

  .footer-image img {
    width: 100px;
  }

  .bottom-container, .our-team-bottom-container {
    flex-direction: column;
    gap: 20px;
    align-items: center; 
    text-align: center; 
  }

  .bottom-info {
    max-width: 90%; 
  }

  .our-team-box {
    max-width: 100%; 
  }
}

/* Responsive Design for Contact Page */
@media screen and (max-width: 768px) {
  .contact-text {
    font-size: xx-large;
    max-width: 90%; 
  }

  .contact-highlight {
    background-color: #f5f5dc; 
  }

  form {
    max-width: 90%;
  }
}
